.m-search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  color: $gray;
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
  @include transform(translateY(-45%));

  @include respond-to('medium') {
    font-size: 1.250em;
    left: 25px;
  }
}
