//Custom styles
.filter-table{
  padding: 10px 10px 10px 32px;
  height: auto;
  min-width: 280px;
  background: url(#{$image_path}/filter.svg) no-repeat 8px;
}
.st-default-search-input {
  height: 48px;
  border: none;
  padding: 10px 10px 10px 32px;
  color: var(--titles-color);
}

.st-page {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.st-no-results {
  margin-right: 6px;
}

.st-spelling-suggestion a{
  color: var(--link-color);
}