{{!--
This footer template is shared across all the pages.
--}}

<footer class="m-footer">
  <div class="m-footer__content">
    <p class="m-footer-copyright">
      <span>{{@site.title}} &copy; {{date format="YYYY"}}</span>
   <br />	
      <a href="http://beian.miit.gov.cn/">浙ICP备20026020号</a>
    </p>
  </div>
</footer>
