<header class="home-header">
<nav class="site-nav">
	<a href="{{@site.url}}" class="nav-left">
		<img src="{{asset "images/logo.png"}}">
			<div class="lockup-template">
				<div class="branch">University of California, Berkeley</div>
				<div>IEEE Student Branch</div>
			</div>
	</a>
	<div class="nav-right">
		<div class="open-dropdown"><i class="fas fa-bars"></i></div>
		<div class="dropdown">
			<div class="close-dropdown-wrap">
				<div class="close-dropdown"><i class="fas fa-times"></i></div>
			</div>
			{{#if @site.navigation}}
                {{navigation}}
            {{/if}}				
		</div>
	</div>
	<div class="overlay"></div>
</nav>
</header>