{{!--
This search template is used to display the search form.
You need to create a custom integration first to get a Content API key and then 
follow the instructions to enable the search feature.
--}}

<div class="m-search js-search" role="dialog" aria-modal="true" aria-label="Search">
  <button class="m-icon-button outlined as-close-search js-close-search" aria-label="Close search">
    <span class="icon-close" aria-hidden="true"></span>
  </button>
  <div class="m-search__content">
    <script async src="https://cse.google.com/cse.js?cx=79e58064c0cf0d848"></script>
      <div class="gcse-search">
      </div>
  </div>
</div>
