{{!--
This search template is used to display the search form.
--}}

<div class="site-search-form">
    <form id="search-form" >
        <label class="sr-only" for="search">Search</label>
        <input
            name="stq" 
            id="search" 
            class="filter-table site-search-input st-default-search-input" 
            type="search" 
            placeholder="Search blog"  />
    </form>
</div>