<section class="m-search js-search">
  <button class="m-icon-button outlined as-close-search js-close-search" aria-label="Close search">
    <span class="icon-close"></span>
  </button>
  <div class="m-search__content">
    <form class="m-search__form">
      <fieldset>
        <span class="icon-search m-search-icon"></span>
        <input type="text" class="m-input in-search js-input-search" placeholder="Type to search">
      </fieldset>
    </form>
    <article class="m-result">
      <a href="#" class="m-result__link">
        <h3 class="m-result__title">
          Creating Remarkable Poster Prints Through 4 Color Poster Printing
        </h3>
        <span class="m-result__date">15 Mar 2018</span>
      </a>
    </article>
    <article class="m-result">
      <a href="#" class="m-result__link">
        <h3 class="m-result__title">
          A Beginners Guide To Chinese Cookery
        </h3>
        <span class="m-result__date">12 Jun 2018</span>
      </a>
    </article>
    <article class="m-result">
      <a href="#" class="m-result__link">
        <h3 class="m-result__title">
          How To Become Top Fashion Designer
        </h3>
        <span class="m-result__date">20 Mar 2018</span>
      </a>
    </article>
    <article class="m-result last">
      <a href="#" class="m-result__link">
        <h3 class="m-result__title">
          Change Your Mind Change Your Luck
        </h3>
        <span class="m-result__date">12 Dec 2018</span>
      </a>
    </article>
  </div>
</section>
