.m-load-comments {
  position: relative;
  margin: 0 auto;
  max-width: 280px;

  @include respond-to('medium') {
    max-width: 400px;
  }
}

.m-load-comments__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 1px;
  z-index: 1;
  background-color: var(--secondary-subtle-color);
}

.m-load-comments__iframe {
  display: none;
}
