{{!--
This error template is used for all 404 errors, which might occur on your site.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header}}

<main class="l-fullscreen">
  <section class="l-fullscreen__content" data-aos="fade-up" data-aos-delay="300">
    <h1 class="m-404-title">Opps</h1>
    <p class="m-404-subtitle">{{t "Page not found"}}</p>
    <p class="m-404-text">
      {{t " Your Page Couldn't be Found! Not to worry, You can Easily Browse Our On-demand Content or Just Hit us Up If you're looking for something"}}
    </p>
    <a href="{{@site.url}}" class="m-button outlined">{{t "Go back"}}</a>
  </section>
</main>
