{{!< default}}

{{!-- The header --}}
{{> header background=@site.cover_image}}

<main class="l-fullscreen">
  <section class="l-fullscreen__content" data-aos="fade-up" data-aos-delay="300">
    <h1 class="m-404-title">404</h1>
    <p class="m-404-subtitle">Page not found</p>
    <p class="m-404-text">
      Unfortunately the page you were looking for could not be found.
    </p>
    <a href="{{@site.url}}" class="m-button outlined">Go to the home page</a>
  </section>
</main>
