.m-logo {
  display: inline-block;
  height: 32px;

  img {
    width: auto;
    max-width: 150px;
    height: 100%;
    object-fit: contain;

    &.m-logo__image-light {
      display: var(--toggle-darkmode-button-display-moon);
    }

    &.m-logo__image-dark {
      display: var(--toggle-darkmode-button-display-sun);
    }
  }

  &.in-mobile-topbar {
    margin: 0 $mobile-space;
  }
}
