.m-logo {
  display: inline-block;
  height: 28px;

  img {
    width: auto;
    max-width: 152px;
    height: 100%;
    object-fit: contain;
  }

  &.in-mobile-topbar {
    height: 20px;
    margin: 0 $mobile-space;
  }
}
