.m-logo {
  align-items: center;
  width: 160px;
  height: 27px;
  background-size: 160px 27px;
  object-fit: contain;
  background-image: url(#{$image_path}/wonderproxy-colour.svg);
   
  @include respond-to('medium') {
    background-size: 197px 27px;
    width: 197px;
    height: 27px;
    display: flex;
  }
  @include respond-to('large') {
    background-size: 296px 40px;
    width: 296px;
    height: 40px;
    display: flex;
  }

  @media (prefers-color-scheme: dark) {
      background-image: url(#{$image_path}/wonderproxy-white.svg);
  }

  [data-theme="dark"] & {
     background-image: url(#{$image_path}/wonderproxy-white.svg);
  }
}
