.m-mobile-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $mobile-bar-height;
  position: relative;
  z-index: 2;

  @include respond-to('medium') {
    display: none !important;
  }
}
