.m-recent-article {
  display: block;
  width: 230px;
  margin: 0 $mobile-space;

  @include respond-to('medium') {
    margin: 0 60px 0 0;
  }

  &:hover {
    .m-recent-article__picture {
      img {
        @include transform(scale(1.1));
      }
    }
  }
}

.rtl {
  .m-recent-article {
    @include respond-to('medium') {
      margin: 0 0 0 60px;
    }
  }
}

.m-recent-article__picture {
  height: 130px;
  position: relative;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--secondary-subtle-color);
  overflow: hidden;

  &.no-picture {
    img {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 64px;
      height: 64px;
      margin: -32px 0 0 -32px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: visible !important;
    @include transition(transform .5s cubic-bezier(0.165, 0.84, 0.44, 1));
  }
}

.m-recent-article__title {
  color: var(--titles-color);
  letter-spacing: 0.2px;
  line-height: 1.438rem;
  font-size: 1rem;
  font-weight: 400;
  margin: 0 0 10px;

  @include respond-to('medium') {
    letter-spacing: 0.25px;
    font-size: 1.125rem;
  }
}

.m-recent-article__date {
  color: var(--titles-color);
  letter-spacing: 0.15px;
  font-size: 0.813rem;
}
