.m-recent-articles {
  margin: 0 -#{$mobile-space} 40px;
  overflow: hidden;

  @include respond-to("medium") {
    margin: 0 0 40px;
  }

  ul {
    cursor: grab;
  }

  .swiper-slide {
    width: auto;
  }
}
