.m-secondary-menu {
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    font-size: 1rem;

    @include respond-to('medium') {
      margin-left: 0;
      margin-right: 0;
    }

    &.nav-current {
      a {
        font-weight: 600;
      }
    }

    a {
      display: block;
      padding: 6px 10px;
      border-radius: 4px;
      @include transition(background-color linear 0.1s);

      @include respond-to('medium') {
        padding: 8px 10px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.rtl {
  .m-secondary-menu {
    .li,
    .li a {
      text-align: right !important;
    }
  }
}
