.m-submenu-title {
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 0 25px;

  &.in-recent-articles {
    padding: 0 $mobile-space;

    @include respond-to('medium') {
      padding: 0;
    }
  }
}

.rtl {
  .m-submenu-title {
    direction: rtl;
  }
}
