.m-tags {
  &.in-post {
    padding-top: 25px;

    ul {
      padding: 0;
      list-style-type: none;
    }

    a {
      text-decoration: none;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    letter-spacing: 0.2px;
    font-size: 0.875rem;
    font-weight: 600;
    margin-right: 30px;
    margin-bottom: 10px !important;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: var(--link-color) !important;
    }
  }
}
