.m-author-links {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: center;

  @include respond-to('medium') {
    text-align: left;
  }

  li {
    display: inline-block;
    margin: 0 11px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.rtl {
  .m-author-links {
    direction: ltr;
    text-align: right;
  }
}
