.m-author-picture {
  display: block;
  width: 90px;
  height: 90px;

  @include respond-to('medium') {
    width: 100px;
    height: 100px;
  }

  div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
