.m-hero-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background-color: #5c697c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include bs(inset 0  2px 4px rgba(0, 0, 0, 0.25));

  @include respond-to('medium') {
    width: 100px;
    height: 100px;
  }
}
