.m-hero-avatar {
  width: 80px;
  height: 80px;
  margin: 0 auto 25px;
  border-radius: 50%;
  background-color: #5c697c;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid white;

  @include respond-to('medium') {
    width: 100px;
    height: 100px;
  }
}
