.m-hero {
  position: relative;
  flex-direction: column;
  min-height: 365px;
  overflow: hidden;
  padding: 100px 0 75px;
  background-color: var(--secondary-subtle-color);
  @extend .content-centered;

  @include respond-to('medium') {
    min-height: 400px;
    padding: 150px 0 75px;
  }

  &.with-picture {
    color: $white;
    background-color: $black;

    @include respond-to('medium') {
      min-height: 450px;
    }

    @include respond-to('extra-large') {
      min-height: 565px;
    }

    .m-hero-title {
      color: $white;
    }
  }

  &.no-picture.in-post {
    display: none;
  }
}

.m-hero__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;

  &.in-post {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.m-hero__content {
  position: relative;
  text-align: center;
  padding: 0 $mobile-space;
  z-index: 2;

  @include respond-to('medium') {
    max-width: 700px;
  }

  @include respond-to('extra-large') {
    padding: 0;
  }
}

.m-hero__meta {
  margin: 0 auto;

  @include respond-to('medium') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rtl {
  .m-hero__meta {
    direction: ltr;
  }
}
