.m-hero {
  position: relative;
  flex-direction: column;
  min-height: 365px;
  overflow: hidden;
  padding: 100px 0 75px;
  background-color: var(--secondary-subtle-color);
  @extend .content-centered;

  @include respond-to('medium') {
    min-height: 400px;
    padding: 100px 0 75px;
  }

  &.is-bottom {
    margin: 3rem 0;
    background-color: transparent;
  }

  &.with-picture {
    color: $white;

    @include respond-to('medium') {
      min-height: 450px;
    }

    @include respond-to('extra-large') {
      min-height: 565px;
    }

    .m-hero-title {
      color: $white;
    }
  }

  &.no-picture {
    @include respond-to('medium') {
      background-color: transparent;
      margin-top:1rem;
      background-image: 
          url('#{$image_path}/main-1.svg'), 
          url('#{$image_path}/main-2.svg'), 
          url('#{$image_path}/main-3.svg'), 
          url('#{$image_path}/oval.svg'), 
          url('#{$image_path}/oval.svg');
      background-repeat: no-repeat;
      background-position: top right, left top, 10% 75%, top left, right center;
      background-size: contain, 25% 45%, 25% 40%, contain, contain;
    }
    
    @media (prefers-color-scheme: dark) {
        background: none;
    }

    [data-theme="dark"] & {
      background-image: none;
    }
  }

  &.no-picture.in-post {
    display: none;
  }
}

.m-hero__picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
  opacity: 0.7;
  &.in-post {
    opacity: 1;
  }
}

.m-hero__content {
  position: relative;
  text-align: center;
  padding: 0 $mobile-space;
  z-index: 2;

  @include respond-to('medium') {
    max-width: 700px;
  }

  @include respond-to('extra-large') {
    padding: 0;
  }
}

.m-hero__meta {
  margin: 0 auto;

  @include respond-to('medium') {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.rtl {
  .m-hero__meta {
    direction: ltr;
  }
}
