.m-hero-social {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 15px;

  @include respond-to('medium') {
    margin-right: 7px;
    margin-bottom: 0;
  }

  &.with-picture {
    color: $white;
  }

  li {
    display: inline-block;
    margin: 0 11px;

    a {
      color: inherit;
      font-size: 0.938rem;

      span {
        color: inherit;
      }
    }
  }
}

.rtl {
  .m-hero-social {
    direction: ltr;
  }
}
