.m-heading {
  text-align: center;
  margin: 0 auto 40px;

  @include respond-to('medium') {
    margin-bottom: 60px;
  }

  &.in-subscribe-page {
    @include respond-to('medium') {
      margin-bottom: 50px;
    }
  }

  &.no-margin {
    margin-bottom: 0 !important;
  }
}
