.footer {
  background-color: #003262;
  padding: 15px;
}

.footer-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-left {
  margin: 5px;
}

.footer-title, .footer-subtitle {
  font-weight: bolder;
  color: #fff;
}

.footer-title {
  font-size: 24px;
}

.footer-subtitle {
  font-size: 16px;
}

.footer-social {
  margin: 15px 0px;
}

.footer-social a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.85);
  margin-right: 15px;
}

.footer-social a:hover,
.footer-social a:active {
  font-size: 25px;
  color: rgba(255, 255, 255);
  margin-right: 15px;
}

.footer-social a:last-of-type {
  margin-right: 0px;
}

.footer-mailing-list button {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bolder;
  text-decoration: none;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.85);

  transition-duration: 0.3s;
}

.footer-mailing-list button:hover {
  background-color: white;
  color: #003262;
  cursor: pointer;
  border-color: #fff;
}

.footer-right {
  display: flex;
  align-items: stretch;
}

.footer-col {
  width: 50%;
  flex-grow: 1;
  display: inline-block;
}

.footer-col ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

.footer-col li {
  margin: 10px 0px;
}

.footer-col a {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: #fed966;
}

.footer-col a:hover {
  color: #ffffff;
}

.footer-copyright {
  margin-top: 5px;
  color: rgb(180, 180, 180);
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (max-width:767px) {
  .footer-left, .footer-right {
    flex-grow: 1;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 15px;
  }
}