.m-404-text {
  letter-spacing: 0.3px;
  line-height: 1.4;
  font-size: 0.875em;
  padding: 0 $mobile-space;
  margin-bottom: 25px;

  @include respond-to('medium') {
    font-size: 1rem;
    padding: 0;
    margin-bottom: 30px;
  }
}
