.m-404-title {
  color: var(--primary-foreground-color);
  letter-spacing: 3px;
  line-height: 1;
  font-size: 9.000rem;
  font-weight: 700;
  margin: 0 0 10px;

  @include respond-to('medium') {
    letter-spacing: 4px;
    font-size: 12rem;
    margin-bottom: 5px;
  }
}
