.l-content {
  padding: 40px 0 20px;
  @extend .bg-sparkle;
  background-position: bottom center;
  background-repeat: repeat-x;

  &.is-homepage {
    background: none;
  }

  &.in-post {
    background: none;
  }
}