.l-fullscreen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.l-fullscreen__content {
  text-align: center;
  padding: 0 $mobile-space;

  @include respond-to('medium') {
    max-width: 500px;
  }

  &.in-subscribe-page {
    @include respond-to('medium') {
      padding: 0;
    }

    @include respond-to('large') {
      max-width: 820px;
    }
  }
}
