.l-tags-container {
  @include respond-to('medium') {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 720px;
  }

  @include respond-to('large') {
    max-width: 1080px;
  }
}
