.l-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 $mobile-space;

  @include respond-to('medium') {
    max-width: 1200px;
  }

  @include respond-to('extra-large') {
    padding: 0;
  }

  &.in-submenu {
    padding: 0;

    @include respond-to('medium') {
      padding: 0 $mobile-space;
    }

    @include respond-to('extra-large') {
      padding: 0;
    }
  }

  &.in-post {
    @include respond-to('medium') {
      max-width: 960px;
    }
  }

  &.in-comments {
    @include respond-to('medium') {
      max-width: 820px;
    }
  }

  &.in-recommended {
    @include respond-to('large') {
      padding: 0;
      max-width: calc(100% - 60px);
    }

    @include respond-to('largest') {
      max-width: 1200px;
    }
  }
}

.l-wrapper.in-post.no-image {
  padding-top: 40px;

  @include respond-to('medium') {
    padding-top: 80px;
  }
}
