.m-showcase-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: justify;
  @include respond-to("large") {
    padding: 0px 40px;
  }
}

.m-showcase-container-reverse {
  flex-direction: column-reverse;
  @include respond-to("large") {
    flex-direction: row;
  }
}

.m-showcase-item {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  @include respond-to("large") {
    flex-basis: 50%;
  }
}

.m-showcase-item-text {
  padding: 0px 40px;
}

.m-showcase-item-text > p {
  font-size: 1rem;;
  @include respond-to("large") {
    font-size: 1.4rem;
  }
}

.m-showcase-item-image {
  display: block;
  margin: auto;
  padding: 20px;
  width: 80vw;
  @include respond-to("large") {
    max-width: 512px;
  }
}
