.m-alert {
  color: $white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.4;
  font-size: 0.875rem;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 45px 14px;
  z-index: 11;
  @include transform(translateY(-100%));
  @include transition(transform 0.2s ease);

  @include respond-to('medium') {
    font-size: 1rem;
    padding: 24px 75px 22px;
  }

  &.success {
    background-color: var(--primary-subtle-color);
  }

  &.opened {
    visibility: visible;
    @include transform(translateY(0));
  }
}

.m-alert__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: $mobile-space;
  width: 20px;
  height: 20px;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
  @extend .no-appearance;
  @include transform(translateY(-50%));

  @include respond-to('medium') {
    right: 40px;
    width: 25px;
    height: 25px;
  }

  span {
    color: $white;
    font-size: 0.75rem;

    @include respond-to('medium') {
      font-size: 0.875rem;
    }
  }
}

.rtl {
  .m-alert__close {
    right: auto;
    left: $mobile-space;

    @include respond-to('medium') {
      right: auto;
      left: 40px;
    }
  }
}
