.m-button {
  display: inline-block;
  color: $wonderTealDark;
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  box-shadow: none;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  padding: .8rem 1.5rem;
  font-size: 1rem;
  border-radius: 24px;
  letter-spacing: 0.4px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background-color: transparent;
  @extend .no-appearance;

  &.outlined {
    color: var(--titles-color);
    border: 1px solid var(--primary-foreground-color);

    &:hover, 
    &:focus {
      border-color: var(--secondary-foreground-color);
    }
  }

  &.filled {
    background-color: $white;
  }

  &.block {
    display: block;
    width: 100%;
  }

  &.primary {
    color: var(--background-color) !important;
    background-color: var(--primary-button);

    &:hover, 
    &:focus {
      background-color: var(--secondary-foreground-color);
    }
  }
}

// Style classes in posts, carry-over from the last theme
.btn.btn-secondary {
  @extend .m-button;
  @extend .primary;
}
