.m-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}

.m-pagination__text {
  display: inline-block;
  color: var(--titles-color);
  letter-spacing: 0.2px;
  text-align: center;
  font-size: 0.875rem;

  @include respond-to('medium') {
    letter-spacing: 0.3px;
    font-size: 1rem;
  }
}
