.m-section-title {
  color: var(--primary-foreground-color);
  text-align: center;
  letter-spacing: 0.3px;
  line-height: 1.3;
  font-weight: 400;
  font-size: 1.250rem;
  margin: 0 0 30px;

  @include respond-to('medium') {
    font-size: 1.5rem;
    margin-bottom: 40px;
  }

  &.in-recommended {
    margin-bottom: 0 !important;
  }
}
