.m-small-text {
  color: $wonderGrey200;
  font-size: 0.875rem;

  &.in-subscribe-page {
    padding-top: 30px;
    font-weight: 600;
  }

  &.in-author-along-with {
    margin-bottom: 20px;

    a {
      text-decoration: underline;
    }
  }
}
