.m-featured-slider {
  position: relative;
  overflow: hidden;
  height: 350px;
  margin: -40px -#{$mobile-space} 40px;
  @include transition(all .25s cubic-bezier(.02,.01,.47,1));

  &:hover {
    @include respond-to('medium') {
      @include transform(translateY(-5px));
    }

    &:before {
      @include bs(0 4px 60px 0 rgba(0,0,0,.2));
    }
  }

  @include respond-to('medium') {
    width: 100%;
    height: 420px;
    margin: -40px 10px 20px 10px;
    border-radius: 10px;
  }

  @include respond-to('large') {
    width: calc(100% - (100% / 3) - 40px);
    margin: 0 20px 40px 20px;
    overflow: unset;
  }

  &:before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 0;
    left: 10px;
    border-radius: 10px;
    @include bs(0 10px 10px rgba(0,0,0,0.08));
    @include transition(all .25s cubic-bezier(.02,.01,.47,1));
  }
}

.m-featured-slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;

  @include respond-to('medium') {
    border-radius: 10px;
    overflow: hidden;
  }

  .slick-list,
  .slick-track,
  .slick-slide > div {
    height: 100%;
  }
}

.m-featured-slider__list__item {
  height: 100%;
}
