.m-recommended-slider {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .swiper-wrapper {
    padding: 40px 0 60px;

    @include respond-to("medium") {
      padding: 40px 0 60px;
    }

    @include respond-to("large") {
      justify-content: center;
    }

    @include respond-to("extra-large") {
      overflow: visible;
    }
  }

  .m-article-card {
    width: 100% !important;
    margin: 0 !important;

    @include respond-to("large") {
      .m-article-card__picture {
        height: 190px;
      }
    }

    @include respond-to("extra-large") {
      .m-article-card__picture {
        height: 220px;
      }
    }
  }
}

.m-recommended-slider__item {
  padding: 0 20px;

  &.swiper-slide-duplicate {
    @include respond-to("large") {
      display: none !important;
    }
  }
}
