/** Global styles */

@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-regular.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-regularitalic.ttf) format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-medium.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-mediumitalic.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: 'EuclidSquare';
  src: url(#{$font_path}/euclidsquare-bold.ttf) format('truetype');
  font-weight: 700;
  font-style: bold;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: var(--primary-foreground-color);
  font-size: 16px;
  font-family: "EuclidSquare", "Helvetica Neue", Arial, sans-serif;
  font-display: swap;
  overflow-x: hidden;
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.share-menu-displayed {
    padding-bottom: 45px;

    @include respond-to('medium') {
      padding-bottom: 0;
    }
  }
}

.main-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

p {
  line-height: 1.3;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  position: relative;
}

.tippy-popper * {
  text-align: left !important;
}

.medium-zoom-overlay {
  background-color: var(--background-color) !important;
}

.medium-zoom-overlay,
.medium-zoom-image {
  z-index: 5;
}

div.lozad.loaded:not(.no-fade-animation),
img.lozad.loaded {
  opacity: 0;
  @include animation('fadeIn 0.5s forwards');
  @include keyframes(fadeIn) {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

::-webkit-input-placeholder {
  color: var(--placeholder);
}

::-moz-placeholder {
  color: var(--placeholder);
}

:-ms-input-placeholder {
  color: var(--placeholder);
}

:-moz-placeholder {
  color: var(--placeholder);
}
