/** Helpers */

.hide {
  display: none;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  line-height: 0;
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.content-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-appearance {
  -webkit-appearance: none !important;
  appearance: none !important;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0
}

.no-scroll-y {
  overflow-y: hidden;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
}

.only-desktop {
  display: none;

  @include respond-to('medium') {
    display: block;
  }
}
