/** Colors */
$white: #fff;
$black: #000;
$main-color: #04aeee;
$titles: #333;
$body: #4a4a4a;
$light-blue: #f4f8fd;
$dark-blue: #293951;
$gray: #9b9b9b;

/** Box Model  */
$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;
